<footer th:fragment="_footer" class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="small text-center text-muted"><a href="https://www.datospersonales.unam.mx/">Protección
                        de datos personales</a> </div>
                <div class="small text-center text-muted fst-italic">Hecho en México, Universidad Nacional Autónoma
                    de México (UNAM), todos los derechos reservados 2024, 2025.</div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</footer>