<!-- Navigation-->
<nav th:fragment="_nav" class="navbar navbar-expand-lg navbar-dark py-2" id="mainNav">
    <div class="container px-4 px-lg-5">
        <img src="/images/escudo-unam-blanco.png" style="width: 60px; margin-right: 10px;"><span
            style="color: aliceblue;"> Universidad
            Nacional <br> Autónoma de México </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">


            <ul class="navbar-nav ms-auto py-4 py-lg-0 ">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Inicio </a></li>
                <li class="nav-item" th:if="${admin} == true "><a class="nav-link px-lg-3 py-3 py-lg-4"
                    href="/evalua/listcuestionarios">Evaluadores</a>
                </li>
                
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contacto">Contacto</a>
                </li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">Cerrar Sesión</a>
                </li>
            </ul>

            <div class="d-grid justify-lg-content-end ms-lg-5">
                <p class=" mt-0 mb-0" style="display: inline-block; margin-right: 10px; color: aliceblue; font-size:0.7em	">
                    <span style="font-weight:bold">Usuario:</span> <span th:text="${name}"> </span> <br/></span> <span th:text="${email}"></span>
                </p>
            </div>
                                <img class="ms-4 mt-1" th:src="${picture}" style="border-radius: 50px; width: 60px;" />

        </div>

    </div>
</nav>